.left-margin {
    margin-left: 50px;
}

.level-space {
    padding: 20px;
}

.memo-box {
    height: 30vh;
    overflow: auto;
}

.logs-box {
    height: 30vh;
    overflow: auto;
}

#bot-edit-fieldset {
    border: none;
    border-color: initial;
}